.nav-pills{ font-family: 'Alegreya Sans SC', sans-serif;background-color:black; opacity:.7; margin-bottom:10%;}

body{background-color:white;color:white;}

h1{font-family: 'Philosopher', cursive;font-size:8em; padding:0;margin-top:0;text-align:center;}

.pageone{background:url("https://hd.unsplash.com/photo-1463320697897-897fc554409a");background-size:cover;height:800px;}

.btn-default{color:white;font-size:2em;font-family: 'Alegreya Sans SC', sans-serif;background-color:black;border-color:black;}

.block{background-color:black;opacity:.5;margin:0px;border-style:outset;border-color:black;width:50%;
margin-right:auto;margin-left:auto; border-radius:10%;}

h2{font-family: 'Alegreya Sans SC';font-size:4em;text-align:center;color:white;}

.block2{background-color:black;opacity:.7; border-radius:15%;}

.pagetwo{background:url(https://hd.unsplash.com/photo-1470408318404-1fea210fa893);background-size:cover; background-size:cover;height:800px;}

p{ font-size:3em; color:white; text-align:center;} 
	a{font-size: 4em; font-align: center;}
.face{margin-top:5%;}
.pagethree{background:url(https://images.unsplash.com/photo-1470217957101-da7150b9b681?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=81fadac92014dbf06fc13e383bf36afd);background-size:cover; background-size:cover;height:800px;}

.pagefour{background:url(https://images.unsplash.com/photo-1457612928689-a1ab27da0dad?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=36a98b9857d479ea863a4a829d45048b); background-size:cover; height:800px;}

.email{ background-color: gray; opacity: .7; }
	a{text-align:center;}
