h1{color:white;text-align:center;font-size: 6em;font-family: 'Fredericka the Great', cursive;background-color: black; border-bottom-style: soild 2px; :25%;opacity:0.7;}
.partOne{background:rel(background photo);background-size:cover;height:800px;} 
